<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Conversão</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="menu">
    <a href="/conversao" class="menu-item">Cadastro</a>
    <a href="/conversao/listagem" class="menu-item">Listagem</a>
</nav>
<div class="container">
    <h1>Editar Conversão</h1>

    <form th:action="@{/conversao/editar/{id}(id=${conversao.id})}" method="post" th:object="${conversao}">
        <input type="hidden" th:field="*{id}"/>

        <label>Descrição:</label><br>
        <input type="text" th:field="*{descricao}" required ><br><br>

        <label>Moeda de Origem:</label>
        <select th:field="*{moedaOrigem}" required>
            <option value="">Selecione</option>
            <option th:each="moeda : ${moedas}"
                    th:value="${moeda.key}"
                    th:text="${moeda.key} + ' - ' + ${moeda.value}"></option>
        </select>

        <label>Valor Original:</label><br>
        <input type="number" id="valor" th:field="*{valorOrigem}" placeholder="0,00" required><br><br>

        <button type="submit">Salvar Alterações</button>
    </form>
</div>

</body>
</html>

